{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center display-4">Gestor de Notas</h1>
        
        <div class="my-4">
            <h3>Descripción</h3>
            <p class="lead">El Gestor de Notas es una aplicación web diseñada para ayudarte a organizar y gestionar tus notas y tareas. Con esta herramienta, puedes crear y mantener un registro de tus notas para diferentes asignaturas, agregar fechas límite y realizar un seguimiento de tus tareas pendientes.</p>
        </div>
        
        <div class="my-4">
            <h3>Características</h3>
            <ul class="list-group">
                <li class="list-group-item">Creación de notas: Puedes crear notas para cada asignatura y agregar contenido relevante.</li>
                <li class="list-group-item">Organización por asignatura: Las notas se organizan por asignatura, lo que facilita encontrar la información relacionada.</li>
                <li class="list-group-item">Fechas límite: Puedes establecer fechas límite para tus tareas y recibir recordatorios.</li>
                <li class="list-group-item">Seguimiento de tareas: Puedes marcar las tareas completadas y realizar un seguimiento de tu progreso.</li>
                <li class="list-group-item">Interfaz intuitiva: La aplicación cuenta con una interfaz fácil de usar y navegar.</li>
            </ul>
        </div>
        
        <div class="my-4">
            <h3>Beneficios</h3>
            <ul class="list-group">
                <li class="list-group-item">Organización: Te ayuda a mantener tus notas y tareas organizadas en un solo lugar.</li>
                <li class="list-group-item">Productividad: Facilita el seguimiento de tus tareas pendientes y te permite priorizar tus actividades.</li>
                <li class="list-group-item">Recordatorios: Los recordatorios te ayudan a cumplir con las fechas límite y evitar olvidos.</li>
                <li class="list-group-item">Acceso desde cualquier lugar: Puedes acceder al gestor de notas desde cualquier dispositivo con conexión a internet.</li>
                <li class="list-group-item">Seguridad: Tus notas y datos se mantienen seguros y protegidos.</li>
            </ul>
        </div>
        
        <div class="my-4">
            <h3>Próximas actualizaciones</h3>
            <p>Estamos trabajando constantemente en mejorar el Gestor de Notas y agregar nuevas características. Próximamente, planeamos agregar funcionalidades como la opción de compartir notas con otros usuarios, la capacidad de adjuntar archivos a las notas y la sincronización con calendarios externos.</p>
        </div>
        
        <div class="my-4">
            <h3>¡Comienza a utilizar el Gestor de Notas ahora!</h3>
            <p>Regístrate en nuestra plataforma y empieza a aprovechar todas las ventajas que ofrece el Gestor de Notas. ¡Organiza tus notas de manera eficiente y mejora tu productividad académica!</p>
        </div>
    </div>
{% endblock %}